*, ::before, ::after {
  --tw-border-opacity: 1;
  border-color: rgb(229 231 235 / var(--tw-border-opacity))
}

.inline-block {
  display: inline-block
}

.flex {
  display: flex
}

.contents {
  display: contents
}

.h-full {
  height: 100%
}

.flex-col {
  flex-direction: column
}

.items-center {
  align-items: center
}

.items-baseline {
  align-items: baseline
}

.justify-start {
  justify-content: flex-start
}

.overflow-hidden {
  overflow: hidden
}

.overflow-scroll {
  overflow: scroll
}

.border {
  border-width: 1px
}

.p-4 {
  padding: 1rem
}

.text-base {
  font-size: 1rem;
  line-height: 1.5rem
}

.flex-wrap{
  flex-wrap: wrap !important;
}

.font-bold {
  font-weight: 700
}

.uppercase {
  text-transform: uppercase
}

.capitalize {
  text-transform: capitalize
}

.outline {
  outline-style: solid
}

.transition {
  transition-property: color, background-color, border-color, fill, stroke, opacity, box-shadow, transform, filter, -webkit-text-decoration-color, -webkit-backdrop-filter;
  transition-property: color, background-color, border-color, text-decoration-color, fill, stroke, opacity, box-shadow, transform, filter, backdrop-filter;
  transition-property: color, background-color, border-color, text-decoration-color, fill, stroke, opacity, box-shadow, transform, filter, backdrop-filter, -webkit-text-decoration-color, -webkit-backdrop-filter;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: 150ms
}

.items-center{
  align-items: center;
}
